* {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333
  }

  /* #00d2ed cyan for buttons; another color idea: #ffebf6*/

  
  html, body{
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #f0f0f0;
  }


  main {
    margin: auto;
    width: 50%;
    padding: 20px;
  }
  
  main > h1 {
    text-align: auto;
    font-size: 3.5em;
  }
  
footer {
    display: center;
    background-color: #333; /* White for a clean look */
    padding: 40px;
    text-align: center;
  }
footer > p {
  color: white;
}

  .highlight {
    color: #ff6f61; /* Coral color for emphasis on text, applied in HTML*/
}

.container {
    width: 80%; /* Adjusts the width of the container */
    margin: 0 auto; /* Centers the container horizontally */
}

img {
    max-width: 100%;
    height: auto; /* Preserve aspect ratio */
}


/* ------hero section styles------ */
/* .hero h1 {
  font-size: 3rem;
  margin: 0;
} */

.hero {
  position: relative;
  height: 800px; /* Height of the hero section */
  background: url('DSCN5199.JPG') no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  /* overflow: hidden; */
}


.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(128, 128, 128, 0.1); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}

.hero-overlay h1 {
  color: #ffffff;
  font-size: 5rem;
  /* letter-spacing: 3px; */
  margin-bottom: 10px;
  font-family: 'Dancing Script', serif;
  font-style: italic;
  font-weight: bold;
  /* animation: fadeIn 2s ease-in-out; */
}

nav {
  z-index: 2;
}

.navbar {
  list-style: none; /* remove browser presets i think*/
  padding: 0;
  margin: 0;
  top: 0;
  display: flex; /* align horizontally*/
  overflow: hidden;
  justify-content: flex-end; /* Aligns the items to the right */
  background-color: whitesmoke;
}

.navbar li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a {
  text-decoration: none;
  font-weight: bold;
}

.navbar li a:hover {
  background-color: #54bebe;
}



.icons {
  display: flex; /* Align icons horizontally */
  gap: 20px; /* Space between icons */
  z-index: 3; /* Ensure icons are on top */
}

/*for linkedIn image*/
.icons .fa-linkedin:hover {
  color: rgb(255, 255, 0); /* Change color on hover */
}
/* For SVG image */
.icons .handshake-image:hover {
  filter: brightness(0) saturate(100%) invert(99%) sepia(96%) saturate(7471%) hue-rotate(73deg) brightness(92%) contrast(92%);
}

.hero-overlay i, .handshake-image {
  font-size: 30px; /* Adjust size as needed */
  display: inline-block; /* Ensure icons align horizontally */
}

.hero-overlay i {
  color: white;
}

/* .hero-overlay i, .handshake-image {
  display: inline-block;
  margin: 10px; 
  color: white;
  font-size: 24px;
} */

.handshake-image {
  width: 25px; 
  height: auto;
  fill: white;
}




/* Grainy Texture Overlay */
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('GrainBackround.webp') repeat;
  opacity: 0.15; /* Adjust opacity to increase or decrease grain visibility */
  z-index: 1;
}


/* -------------------basic query for mobile devices--------------*/
@media (max-width: 768px) {
    .hero {
      height: 100vh; /* Adjust hero section height */
        font-size: 1.5rem;
    }
  
}

